@font-face {
	font-family: "tf2 build";
	src: local("tf2 build"),
	url("/fonts/tf/tf2build.ttf") format("truetype");
	ascent-override: 100%; /* reset font ascent; regularly importing has a lower boundary for some reason */
}

@font-face {
	font-family: "tf2 professor";
	src: local("tf2 professor scaled"),
	url("/fonts/tf/tf2professorscaled.ttf") format("truetype");
}
