@import "./fonts.css";
@import "./colour-scheme.css";

:root {
	color: var(--tf2-chat-colour);
}

*::selection {
	color: var(--tf2-shadow-colour);
	background: var(--tf2-chat-selection-colour);
	text-shadow: none;
}

a {
	color: hsl(var(--tf2-hsl-chat-selection-colour));
	&::selection {
		color: var(--link-selection-colour);
		text-shadow: none;
		text-decoration: double var(--link-selection-colour);;
	}
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
